@media screen and(max-width: 1120px) {
    .container{
        .content{
            .section-3{
                max-width: 1110px;
                width: 100%;
                .left{
                    margin-left: 10%;
                }
                .right{
                    h1{
                        width: 100%;
                    }
                }
            }
        }
    }
}
