@charset "UTF-8";
@font-face {
  font-family: OpenSans-Regular;
  src: url(../Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans_Condensed-Bold;
  src: url(../Open_Sans/OpenSans_Condensed-Bold.ttf);
}
@font-face {
  font-family: OpenSans_Condensed-Regular;
  src: url(../Open_Sans/OpenSans_Condensed-Regular.ttf);
}
.clear {
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #333333;
}
.container .header {
  background: url(../img/header-bg.png) center center/cover;
  position: relative;
}
.container .header .contact {
  position: absolute;
  left: 0;
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: rgba(51, 51, 51, 0.75);
}
.container .header .contact h4 {
  font-family: OpenSans_Condensed-Regular;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  transform: rotate(270deg);
  margin-bottom: 170px;
  width: 180px;
}
.container .header .contact .line {
  width: 80px;
  transform: rotate(270deg);
  margin-bottom: 70px;
  border-bottom: 3px solid gray;
}
.container .header .contact i {
  margin: 15px;
  cursor: pointer;
  color: white;
}
.container .header .contact i:hover {
  color: #d1a954;
}
.container .header .contact i:last-child {
  margin-bottom: 80px;
}
.container .header .navbar {
  padding-top: 50px;
}
.container .header .navbar ul {
  font-family: OpenSans_Condensed-Regular;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .header .navbar ul li {
  list-style: none;
}
.container .header .navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  margin: auto 32px;
}
.container .header .navbar ul li a:hover {
  border-bottom: 3px solid #d1a954;
}
.container .header .navbar ul p {
  color: white;
  border-bottom: 3px solid #d1a954;
  margin-left: 140px;
}
.container .header .h-content {
  margin-top: 10%;
  margin-left: 24%;
  color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 260px;
}
.container .header .h-content .left {
  padding-top: 135px;
}
.container .header .h-content .left h1 {
  font-family: OpenSans_Condensed-Bold;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.container .header .h-content .left p {
  margin-top: 30px;
  font-family: OpenSans-Regular;
  width: 540px;
  font-size: 14px;
}
.container .header .h-content .left button {
  cursor: pointer;
  width: 160px;
  height: 50px;
  background-color: #d1a954;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 45px;
  border: none;
  font-family: OpenSans_Condensed-Regular;
}
.container .header .h-content .left button:hover {
  background-color: #b79345;
}
.container .header .h-content img {
  margin-left: 120px;
  width: 350px;
  height: 490px;
  box-shadow: 20px 20px 2px #d1a954;
}
.container .content {
  padding-top: 150px;
}
.container .content .section-1 {
  width: 1110px;
  height: 455px;
  margin: auto;
  color: white;
}
.container .content .section-1 h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 300;
  font-family: OpenSans_Condensed-Regular;
  margin-bottom: 80px;
}
.container .content .section-1 h1::before {
  content: "о ";
  color: #d1a954;
}
.container .content .section-1 .left {
  float: left;
}
.container .content .section-1 .left h2 {
  font-family: OpenSans_Condensed-Regular;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.container .content .section-1 .left p {
  margin-top: 34px;
  font-family: OpenSans-Regular;
  width: 445px;
  color: rgb(228, 227, 227);
  font-size: 14px;
}
.container .content .section-1 .center {
  margin-left: 30px;
  float: left;
  font-family: OpenSans_Condensed-Regular;
}
.container .content .section-1 .center h2 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  font-size: 21px;
}
.container .content .section-1 .center img {
  margin-top: 30px;
  width: 70px;
  height: 64px;
}
.container .content .section-1 .center p {
  margin-top: 8px;
}
.container .content .section-1 .center p::before {
  content: "1600";
  color: #d1a954;
}
.container .content .section-1 .center .second-p::before {
  content: "300";
  color: #d1a954;
}
.container .content .section-1 .right {
  margin-left: 30px;
  float: left;
}
.container .content .section-1 .right img {
  width: 350px;
  height: 290px;
}
.container .content .section-2 {
  padding-top: 120px;
  margin: auto;
}
.container .content .section-2 h1 {
  font-family: OpenSans_Condensed-Regular;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.container .content .section-2 h1::before {
  content: "наши ";
  color: #d1a954;
}
.container .content .section-2 .linked-images {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.container .content .section-2 .linked-images .item {
  text-transform: uppercase;
  color: white;
  font-family: OpenSans_Condensed-Bold;
  height: 550px;
  width: 440px;
  position: relative;
  overflow: hidden;
}
.container .content .section-2 .linked-images .item h2 {
  padding-top: 40px;
  padding-left: 40px;
}
.container .content .section-2 .linked-images .item h3 {
  position: absolute;
  transform: rotate(270deg);
  left: 0;
  bottom: 90px;
}
.container .content .section-2 .linked-images .item a {
  text-decoration: none;
}
.container .content .section-2 .linked-images .item a i {
  width: 100px;
  height: 100px;
  background-color: #d1a954;
  font-size: 35px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  color: white;
  transform: translate(160px, 500px);
}
.container .content .section-2 .linked-images .item:hover h2,
.container .content .section-2 .linked-images .item:hover h3 {
  display: none;
}
.container .content .section-2 .linked-images .item:hover i {
  transition: ease 1s;
  transform: translate(160px, 190px);
}
.container .content .section-2 .linked-images .item:nth-child(1) {
  background: linear-gradient(to top, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../img/section2-1.png) no-repeat center center/cover;
}
.container .content .section-2 .linked-images .item:nth-child(1):hover {
  background: url(../img/section2-1.png) no-repeat center center/cover;
}
.container .content .section-2 .linked-images .item:nth-child(2) {
  background: linear-gradient(to top, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../img/section2-2.png) no-repeat center center/cover;
}
.container .content .section-2 .linked-images .item:nth-child(2):hover {
  background: url(../img/section2-2.png) no-repeat center center/cover;
}
.container .content .section-2 .linked-images .item:nth-child(3) {
  background: linear-gradient(to top, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../img/section2-3.png) no-repeat center center/cover;
}
.container .content .section-2 .linked-images .item:nth-child(3):hover {
  background: url(../img/section2-3.png) no-repeat center center/cover;
}
.container .content .section-2 .linked-images .item:nth-child(4) {
  background: linear-gradient(to top, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../img/section2-4.png) no-repeat center center/cover;
}
.container .content .section-2 .linked-images .item:nth-child(4):hover {
  background: url(../img/section2-4.png) no-repeat center center/cover;
}
.container .content .section-3 {
  max-width: 1110px;
  width: 100%;
  height: 550px;
  margin: 150px auto 130px;
  background: linear-gradient(to top, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url(../img/section-3.png) no-repeat center center/cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container .content .section-3 .left {
  margin-left: 180px;
}
.container .content .section-3 .left h1 {
  font-family: OpenSans_Condensed-Regular;
  color: #D1A954;
  font-size: 72px;
  letter-spacing: 2px;
}
.container .content .section-3 .right {
  margin-left: 100px;
}
.container .content .section-3 .right .r-top {
  color: #D1A954;
  font-size: 30px;
  margin-bottom: 20px;
}
.container .content .section-3 .right .r-top i {
  margin-right: 20px;
}
.container .content .section-3 .right h1 {
  font-size: 36px;
  color: white;
  font-family: OpenSans-Regular;
  width: 65%;
  letter-spacing: 2px;
}
.container .content .partners h1 {
  text-align: center;
  font-size: 48px;
  font-family: OpenSans_Condensed-Regular;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  color: white;
}
.container .content .partners h1::before {
  color: #D1A954;
  content: "партнеры";
}
.container .content .partners .partners-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}
.container .content .partners .partners-name img {
  margin-top: 80px;
  width: 200px;
  height: 95px;
  margin-right: 80px;
  margin: 80px 80px 0 0;
}
.container .footer {
  padding-top: 120px;
  max-width: 1110px;
  width: 100%;
  margin: auto;
}
.container .footer h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-family: OpenSans_Condensed-Regular;
  font-size: 48px;
  text-align: center;
  margin-bottom: 100px;
  color: white;
}
.container .footer h1::before {
  content: "стать";
  color: #D1A954;
}
.container .footer .f-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 80px;
  border-bottom: 1px solid #565656;
}
.container .footer .f-content .left {
  width: 44%;
}
.container .footer .f-content .left p {
  text-transform: uppercase;
  font-family: OpenSans_Condensed-Regular;
  color: white;
  margin-bottom: 22px;
}
.container .footer .f-content .right {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}
.container .footer .f-content .right input {
  background-color: #444444;
  color: #989898;
  border: 1px solid #616161;
  outline: none;
  font-size: 12px;
  padding-left: 10px;
}
.container .footer .f-content .right .r-left {
  font-family: OpenSans-Regular;
}
.container .footer .f-content .right .r-left input {
  width: 180px;
  height: 35px;
  margin: 0 40px 30px 0;
}
.container .footer .f-content .right .r-left p {
  color: #989898;
  font-size: 12px;
}
.container .footer .f-content .right .r-right input {
  width: 300px;
  height: 100px;
  margin-left: 10px;
}
.container .footer .f-content .right .r-right button {
  margin-top: 40px;
  cursor: pointer;
  width: 190px;
  height: 50px;
  outline: none;
  text-transform: uppercase;
  border: none;
  background-color: #D1A954;
  font-family: OpenSans_Condensed-Regular;
  font-weight: 500;
  color: white;
  letter-spacing: 1.5px;
  font-size: 18px;
  margin-left: 120px;
}
.container .footer .f-content .right .r-right button:hover {
  background-color: #b79345;
}
.container .footer .privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.container .footer .privacy p {
  font-size: 12px;
  color: #989898;
  font-size: OpenSans-Regular;
  color: #989898;
}/*# sourceMappingURL=style.css.map */